# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# https://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host: 127.0.0.1
    database_port: ~
    database_name: symfony
    database_user: root
    database_password: ~
    mailer_transport: smtp
    mailer_host: smtp.gmail.com
    mailer_user: arianeuniovi@gmail.com
    mailer_password: ArianeTFG2019
    secret: ThisTokenIsNotSoSecretChangeIt
    locale: en
    mailer_encryption: ssl
    mailer_auth_mode: login
    contactMail: arianeuniovi@gmail.com
    supportMail: arianeuniovi@gmail.com
    projectname: Ariane
    disable_delivery: true
    handle404: true
    handlePHPErrors: true
    handlePHPWarnings: false
    handleSilentErrors: false
    jwt_private_key_path: '%kernel.root_dir%/config/jwt/private.pem'
    jwt_public_key_path: '%kernel.root_dir%/config/jwt/public.pem'
    jwt_key_pass_phrase: ariane
    jwt_token_ttl: 14400
    files_temp_dir: '%kernel.project_dir%/web/uploads/media/temp/'
    amazon_s3_key: AKIAVDZ5AGSKKVR6UDNP
    amazon_s3_secret: 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
    amazon_s3_region: s3-us-east-2.amazonaws.com
    amazon_s3_bucket: ariane-s3